<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108693613-1"></script>
   	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-108693613-1');
	</script>
 	<meta charset="utf-8">
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  	<meta name="Description" content="Love hot springs? Check out this growing list of the best hot springs in Idaho."/>
   	<meta http-equiv="x-ua-compatible" content="ie=edge">
   	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hot Springs Handbook - All Hot Springs List</title>
<!--CSS-->
    <link href="css/allPages.css" rel="stylesheet"/>
    <link href="css/full-list.css" rel="stylesheet"/>
    <link href="../css/maps.css" rel="stylesheet"/>
<!--FONTS-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:300,100' rel='stylesheet' type='text/css'>
<!--SCRIPTS-->
    <script src="jet/jet-7-24-18.js"></script>
    <script src=/js/springs-data.js></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUdwXWP_my-i0XYerY7BcDic0L-Jhe8Ok"></script>
	<script src="plugins/vue.min.js"></script>   	
</head>
<body>
<div class="full__list hot__body" v-cloak>
    <header class="site__header">
		<a class="menu__icon">
			<div class="menu__line"></div>
			<div class="menu__line"></div>
			<div class="menu__line"></div>
		</a>
		<div class="header__logo__container">    
            <div class="header__text">
               <div class="site__logo">
                   <div class="site__logo__back__line"></div>
                   <div class="mountain__1"></div>
                   <div class="mountain__2"></div>
                   <div class="mountain__3"></div>
               </div>
                <a class="header__main header__link" v-bind:href="url">
                    <h1>{{ headerTop }}<span>{{ headerBottom }}</span></h1>
                </a>
            </div>
		</div>
		<div class="header__links" class="">
			<template v-for="(index, val) in menuItems" v-bind:text-content="menu(index)">
				<a v-bind:href='index.menuItemURL'>{{ index.menuItem }}</a>
			</template>
		</div>
	</header>
	
	
	<div class="main">
		<div class="grids">
			<div class="grid__headers full__list__sub__header">
				<h2>{{ headerTop }}</h2>
<!--				<h4 class="filter__button">Filter ▼</h4>-->
			</div>
<!--
			<div class="filter__section">
			    <h3 class="filter__header">Filter By:</h3>
			    <div class="filter__drop__downs">
			        <h4 class="filter__section__header">Best Seasons</h4>
			        <div class="filter__drop__down__container">
			            <div class="drop__down__option" data-season="spring">Spring</div>
			            <div class="drop__down__option selected" data-season="summer">Summer</div>
			            <div class="drop__down__option" data-season="fall">Fall</div>
			            <div class="drop__down__option" data-season="winter">Winter</div>
			        </div>
			    </div>
			</div>
-->
<!--
            <div class="filter__section">
			    <h3 class="filter__header">Filter By:</h3>
			    <div class="filters">
			        <div class="filters__cell">
                        <h3 class="filters__cell__header">Season: <span class="js__filters__season">Summer</span></h3>
			            <div class="filters__expanded">
			                <div class="filters__expand__cell" data-season="summer">Summer</div>
			                <div class="filters__expand__cell" data-season="fall">Fall</div>
			                <div class="filters__expand__cell" data-season="winter">Winter</div>
			                <div class="filters__expand__cell" data-season="spring">Spring</div>
			            </div>
			        </div>
			    </div>
			</div>
-->
			<div class="grid all__springs__list">
				<template v-for="(index, val) in numOfActivites"  v-bind:text-content="pop(index)">
					<a v-bind:href='"/individual/" + index.condensedName'  v-bind:id= index.condensedName class='grid__cell full__list__grid__cell' v-bind:class=index.condensedName v-bind:data-rating=index.rating>
                        <div class='grid__image' v-bind:style="{'backgroundImage': 'url(activities/' + index.type + '/' + index.condensedName + '/header/' + 'thumb.jpg)'}">
                            <div class="commercial__surround" v-if="index.commercial === true">
                                <h6>$</h6>
                            </div>
                        </div>
                        <div class=grid__text>
                            <h3>{{ index.name }}</h3>
                            <div class=rating>
                                <div class="rating__color"></div>
                                <img src="/icons/hollowStars.png">
                            </div>
                            <h4>Near: <span>{{ index.nearestTown }}</span></h4>
                            <p>{{ index.description }}</p>
                        </div>

					</a>
				</template>
			</div>
		</div>
		<div class="full__list__map__container">
		    <div class="all__map__div"></div>
		</div>
	</div>
	<footer class="site__footer"><p class="site__footer__para"></p></footer>
</div>

<script src="plugins/raphael.js"></script>
<script src="plugins/justgage.js"></script>
<script src="plugins/markerclusterer/src/markerclusterer.js"></script>
<script src="js/data.js"></script>
</body>
</html>