<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <!-- Google Tag Manager -->
<!--
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-W6ZQMXD');</script>
-->
    <!-- End Google Tag Manager -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108693613-1"></script>
   	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-108693613-1');
	</script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-1027038762841000",
        enable_page_level_ads: true
      });
    </script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Hot Springs Handbook</title>
<!--CSS-->
    <link href="_css/allPages.css" rel="stylesheet"/>
<!--FONTS-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:300,100' rel='stylesheet' type='text/css'>
<!--SCRIPTS-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUdwXWP_my-i0XYerY7BcDic0L-Jhe8Ok"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="/plugins/vue.js"></script>
   	<script src="/plugins/defiant.min.js"></script>
   	<script src="_js/data.js"></script>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W6ZQMXD"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div id="body" class="allMap" v-cloak>
<!--
	<div class="slideMenu" id="slideMenu">
		<ul>
			<template v-for="(index, val) in menuItems" >
				<li><a v-bind:href='index.menuItemURL'>{{ index.menuItem }}</a></li>
			</template>
		</ul>
	</div>
-->
	<header id="siteHeader">
		<a id="menuIcon">
			<div class="menuLine"></div>
			<div class="menuLine"></div>
			<div class="menuLine"></div>
		</a>
		<div class="headerText">
			<div class="Logo">
                   <div class="logoBackLine"></div>
                   <div class="mountain1"></div>
                   <div class="mountain2"></div>
                   <div class="mountain3"></div>
               </div>
			<a class="headerMain" id="headerLink" v-bind:href="url">
				<h1>{{ headerTop }}<span>{{ headerBottom }}</span></h1>
			</a>
			<img src="icons/mountain.png" alt="" class="headerLogo2">
		</div>
		<div id="headerArrow"></div>
		<div id="headerLinks">
			<template v-for="(index, val) in menuItems" v-bind:text-content="menu(index)">
				<a v-bind:href='index.menuItemURL'>{{ index.menuItem }}</a>
			</template>
		</div>
	</header>
	<div class="main">
		<div class="map"></div>
		<div class="springs"></div>
		<div id="allMapDiv"></div>
	</div>
	<footer id="footer"><p id="footerText"><p></footer>
</div>


</body>
<script src="plugins/raphael.js"></script>
<script src="plugins/justgage.js"></script>
<script src="plugins/markerclusterer/src/markerclusterer.js"></script>
<script src="_js/allPages.js?=v1.001"></script>
<script src="_js/fullMap.js?=v1.001"></script>
</html>